**/.project
**/.settings
**/.vscode/
**/.classpath
**/audit.log
**/.DS_Store
**/bin
.idea
**/*.iml
instance-ip.txt
kswitch/target
target
/bin/
**/*.pem
api/pom.xml.releaseBackup
frontend/pom.xml.releaseBackup
import-processor/pom.xml.releaseBackup
mock-events/pom.xml.releaseBackup
pom.xml.releaseBackup
release.properties
validator/pom.xml.releaseBackup
*.versionsBackup
.todo